<div class="modal-header">
  <h3 class="modal-title">Programar un tweet</h3>
</div>
<div class="modal-body">
  <div class="row">

    <div class="col-md-12">

      <div class="col-md-4">
        <div class="form-group" data-ng-class="{'has-error': data.hours.has_error}">
          <label>Hora</label>
          <input type="number"
                 class="form-control input-sm"
                 data-ng-model="data.hours.value"
                 data-ng-change="onChange_hours()"
                 data-ng-focus-on="_NAME + '.hours'">
          <span class="text-danger" data-ng-show="data.hours.has_error">{{ data.hours.error }}</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" data-ng-class="{'has-error': data.minutes.has_error}">
          <label>Minuto</label>
          <input type="number"
                 class="form-control input-sm"
                 data-ng-model="data.minutes.value"
                 data-ng-change="onChange_minutes()"
                 data-ng-focus-on="_NAME + '.minutes'">
          <span class="text-danger" data-ng-show="data.minutes.has_error">{{ data.minutes.error }}</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" data-ng-class="{'has-error': data.seconds.has_error}">
          <label>Segundo</label>
          <input type="number"
                 class="form-control input-sm"
                 data-ng-model="data.seconds.value"
                 data-ng-change="onChange_seconds()"
                 data-ng-focus-on="_NAME + '.seconds'">
          <span class="text-danger" data-ng-show="data.seconds.has_error">{{ data.seconds.error }}</span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group" data-ng-class="{'has-error': data.tweetText.has_error}">
          <label>Text</label>
          <textarea class="form-control input-sm"
                    rows="5"
                    data-ng-model="data.tweetText.value"
                    data-ng-change="onChange_tweetText()"
                    data-ng-focus-on="_NAME + '.tweetText'"></textarea>
          <span class="text-limit">{{ data.tweetText.value.length }} / 250</span>
          <span class="text-danger" data-ng-show="data.tweetText.has_error">{{ data.tweetText.error }}</span>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-right" data-ng-click="onClick_save()">Programar</button>
      <button class="btn btn-link pull-right" data-ng-click="onClick_close()">Cancelar</button>
    </div>
  </div>
</div>