/* Notifications */
$stoNotification_default_color: #fff;
$stoNotification_default_bgBody: #880000;
$stoNotification_default_bgHeader: lighten($stoNotification_default_bgBody, 30);

$stoNotification_blue_color: #fff;
$stoNotification_blue_bgBody: #0404B4;
$stoNotification_blue_bgHeader: lighten($stoNotification_blue_bgBody, 30);


/* Overlay sizes */

$overlayTopWidth: 100%;
$overlayTopHeight: 100px;

$overlayBottomWidth: 100%;
$overlayBottomHeight: 75px;

$overlayRightWidth: 300px;
$overlayRightHeight: calc(100% - #{$overlayTopHeight} - #{$overlayBottomHeight});

$overlayLeftWidth: 300px;
$overlayLeftHeight: calc(100% - #{$overlayTopHeight} - #{$overlayBottomHeight});







