
/* Overlay sizes */

// - Right
$overlayRightWidth: 300px;
$overlayRightHeight: 100vh;

$overlayLeftWidth: 300px;
$overlayLeftHeight: 100vh;

$overlayTopWidth: 100vw;
$overlayTopHeight: 100px;

$overlayBottomWidth: 100vw;
$overlayBottomHeight: 75px;
