node_modules/
node_modules/*

#Remove bower files
public/assets/bower/
public/assets/bower/*

#Remove dist files
public/assets/dist/
public/assets/dist/*

#Data
data/
data/*


#Remove Visual studio folder
.vs/
.vs/*

#Remove Php Folder
.idea/
.idea/*