<div class="panelApp-twitter-controller">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Twitter</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Twitter</li>
    </ol>
  </section><!-- /Content Header (Page header) -->

  <!-- Main content -->
  <section class="content">
    <button class="btn btn-default" data-ng-click="onClick_twitterLogin()">Twitter login</button>
  </section><!-- /Main content -->

</div>