.bgScreen {
  position: relative;
  overflow: hidden;
  //transform: scale(.25);
  //transform-origin: 0px 0px;

  .overlay-right {
    position: absolute;
    right: 0;
    top: $overlayTopHeight;
    width: $overlayRightWidth;
    height: $overlayRightHeight;
  }

  .overlay-left {
    position: absolute;
    left: 0;
    top: $overlayTopHeight;
    width: $overlayLeftWidth;
    height: $overlayLeftHeight;

  }

  .overlay-top {
    position: absolute;
    top: 0;
    width: $overlayTopWidth;
    height: $overlayTopHeight;

  }

  .overlay-bottom {
    position: absolute;
    bottom: 0;
    width: $overlayBottomWidth;
    height: $overlayBottomHeight;
  }
}
