.box {
  .box-body.box-empty {
    display: table;
    width: 100%;
    height: 500px;

    .box-empty-content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .box-empty-icon i {
        font-size: 144px;
        color: #E4E7E9;
      }
    }
  }
}