@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.container-alert-last-follower {

  &.active {
    em {
      animation: pulse 1s infinite;
    }
  }

  font-family: 'Luckiest Guy', cursive;
  margin: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 20px;

  em{
    font-size: 1.4em;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}