.sto-notifications-container {
  margin-top: 20px;
  margin-right: 15px;

  .sto-notification {

    &.ng-enter {
      position: relative;
      right: -500px;
      transition: all cubic-bezier(0, .75, 0.75, 1.25)  .5s;

      &.ng-enter-active {
        right: 0;
      }
    }

    &.ng-leave {
      transition: all ease-in .5s;

      &.ng-leave-active {
        opacity: 0;
      }
    }

    color: #fff;
    background-color: #880000;
    padding: 0;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.5);


    h4.sto-notification-header {
      background-color: lighten(#880000, 30);
      padding: 10px;
      text-align: center;
      margin-bottom: 0;
    }

    .sto-notification-body {
      padding: 10px;
    }

  }
}