.sto-notifications-container {

  margin-top: 20px;
  margin-right: 15px;
  overflow: visible;

  .sto-notification {

    border: 1px solid #000;
    border-radius: 4px;
    color: $stoNotification_default_color;
    background-color: $stoNotification_default_bgBody;
    padding: 0;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

    &.ng-enter {
      animation: notification-enter .7s;
    }

    .sto-notification-header {
      margin-top: 0;
      background-color: $stoNotification_default_bgHeader;
      padding: 10px;
      text-align: center;
      margin-bottom: 0;
      font-size: 24px;
    }

    .sto-notification-header-media {
      margin-top: 0;
      background-color: $stoNotification_default_bgHeader;
      padding: 10px;
      text-align: center;
      margin-bottom: 0;

      .media-left .media-object{
        max-width:75px;
      }
    }

    .sto-notification-body {
      padding: 10px;
      font-size: 20px;
    }

    &.sto-notification-blue {
      color: $stoNotification_blue_color;
      background-color: $stoNotification_blue_bgBody;

      h4.sto-notification-header {
        background-color: $stoNotification_blue_bgHeader;
      }
    }

    &.sto-twitch-new-follower-notification {
      color: $stoNotification_twitch_new_follower_color;
      background-color: $stoNotification_twitch_new_follower_bgBody;

      .sto-notification-header, .sto-notification-header-media {
        background-color: $stoNotification_twitch_new_follower_bgHeader;
      }
    }

    //New follower on twitter
    &.sto-twitter-new-follower-notification {
      color: $stoNotification_twitter_new_follower_color;
      background-color: $stoNotification_twitter_new_follower_bgBody;

      .sto-notification-header, .sto-notification-header-media {
        background-color: $stoNotification_twitter_new_follower_bgHeader;
      }
    }

    //New mention on twitter
    &.sto-twitter-new-mention-notification {
      color: $stoNotification_twitter_new_mention_color;
      background-color: $stoNotification_twitter_new_mention_bgBody;

      .sto-notification-header, .sto-notification-header-media {
        background-color: $stoNotification_twitter_new_mention_bgHeader;
      }
    }

    //New retweet on twitter
    &.sto-twitter-new-mention-notification {
      color: $stoNotification_twitter_new_retweet_color;
      background-color: $stoNotification_twitter_new_retweet_bgBody;

      .sto-notification-header, .sto-notification-header-media {
        background-color: $stoNotification_twitter_new_retweet_bgHeader;
      }
    }

  }
}

@keyframes notification-enter {
  0% {

    transform: skewX(-20deg) translate(400px);
  }
  90% {
    transform: skewX(-20deg) translate(-50px);
  }
  100% {
    transform: skewX(0deg) translate(0);
  }
}