<div class="sto-notifications-container">

  <div data-ng-repeat="notification in data.elements" data-ng-animate-children="true">

    <!-- Red basic notifications -->
    <div class="sto-notification" data-ng-class="{'active': notification.isActive }" data-ng-if="notification.type == null">
      <h4 class="sto-notification-header">{{ notification.title }}</h4>
      <div class="sto-notification-body" data-ng-show="notification.body">{{ notification.body }}</div>
    </div><!-- /Red basic notifications -->


    <!-- Twitch new follower notification -->
    <div class="sto-notification sto-twitch-new-follower-notification"
         data-ng-class="{'active': notification.isActive }"
         data-ng-if="notification.type == 'twitch-new-follower'">
      <div class="sto-notification-header-media media">
        <div class="media-left" data-ng-show="notification.data.profile_image_url.length > 0">
          <img  class="img img-thumbnail media-object" data-ng-src="{{notification.data.profile_image_url }}">
        </div>
        <div class="media-body">
          <h4>@{{ notification.data.login }} nos sigue ahora</h4>
        </div>
      </div>
      <div class="sto-notification-body" data-ng-show="notification.data.description.length > 0">
        {{ notification.data.description}}
      </div>
    </div><!-- /Twitch new follower notification -->


  </div>

  <!-- Audio controls -->
  <div class="audio-controls">
    <audio id="sms-alert-4-daniel_simon"><source src="/assets/sounds/sms-alert-4-daniel_simon.mp3" type="audio/mpeg"></audio>
    <audio id="dixie-horn_daniel-simion"><source src="/assets/sounds/dixie-horn_daniel-simion.mp3" type="audio/mpeg"></audio>
  </div><!-- /Audio controls -->

</div>